* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #080808;
  --second-bg-color: #101010;
  --text-color: #ffffff;
  --main-color: #ea580c;
}

body {
  background: var(--second-bg-color);
  color: var(--text-color);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 3rem 12%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  font-size: 3rem;
  color: white;
  font-weight: 800;
  transition: 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}
span{ 
background: linear-gradient( 270deg, #DF8908 10%, #ff1d15 100%);
background-clip: text;
color: transparent;}

.logo span {
  background: linear-gradient(270deg, #df8908 10%, #ff1d15 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.navbar a {
  font-size: 1.6rem;
  color: #f5f5f5;
  margin-left: 2rem;
  font-weight: 500;
  transition: 0.3s;
}

.navbar a:hover {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

.gradient-btn {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  background: linear-gradient(270deg, #df8908 10%, #ff1d15 100%);
  border-radius: 3rem;
  cursor: pointer;
  color: white;
  border: none;
  transition: 0.3s ease-in-out;
}

.gradient-btn:hover {
  transform: scale(1.05);
}

section {
  min-height: 100vh;
  padding: 12rem 15%;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
}

.home-content {
  flex: 1;
}

.home-content h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: right;
}

.home-content h3 {
  font-size: 3rem;
  margin: 1rem 0;
  text-align: right;
}

.home-content p {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 2rem;
  color: #ddd;
  text-align: right;
}

.home-img img {
  width: 28vw;
  border-radius: 50%;
  box-shadow: 0 0 60px #ea580c;
  transition: 0.4s ease-in-out;
}

.home-img img:hover {
  box-shadow: 0 0 60px #ea580c, 0 0 120px #ff1d15;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  margin: 0.5rem;
  transition: 0.3s ease-in-out;
}
.social-icons {
  display: flex;
  justify-content: flex-end;
  margin-right: 0%; 
}

.social-icons a img {
  width: 24px;
  height: 24px;
  filter: invert(47%) sepia(81%) saturate(2449%) hue-rotate(14deg)
  brightness(100%) contrast(95%);
  transition: 0.3s ease-in-out;
}

.social-icons a:hover {
  background: var(--main-color);
  box-shadow: 0 0 20px var(--main-color);
}

.social-icons a:hover img {
  filter: brightness(0) invert(1);
}

.btn-group {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
  justify-content: flex-end;
  padding-left: 2rem;
  margin-right: 0.5%;
}

.btn {
  padding: 1rem 3rem;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-align: center;
}

.btn:first-child {
  background: var(--main-color);
  color: black;
  box-shadow: 0 0 25px var(--main-color);
}

.btn:first-child:hover {
  transform: scale(1.05);
}

.btn:last-child {
  background: transparent;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

.btn:last-child:hover {
  background: var(--main-color);
  color: black;
  box-shadow: 0 0 25px var(--main-color);
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  background-color: var(--second-bg-color);
  padding: 5rem 10%;
  flex-wrap: wrap;
}

.about-img {
  flex: 1;
  display: flex;
  justify-content: left;
}

.about-img img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 30px var(--main-color), 0 0 60px var(--main-color);
  transition: 0.3s ease-in-out;
}

.about-img img:hover {
  box-shadow: 0 0 40px var(--main-color),
              0 0 80px var(--main-color),
              0 0 120px var(--main-color);
}

.about-content {
  flex: 1;
  max-width: 500px;
}

.about-content h2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #fff;
}

.about-content h2 span {
  background: linear-gradient(90deg, #ff6600, #ff3300);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-content p {
  font-size: 2.5rem;
  color: #ddd;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.about-content .btn {
  display: inline-block;
  background: linear-gradient(90deg, #ff6600, #ff3300);
  color: #fff;
  padding: 1rem 2.5rem;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.about-content .btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px #ff4500;
}

/* Responsive */
@media (max-width: 900px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .about-content h2,
  .about-content p {
    text-align: center;
  }
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
  background-color: var(--main-color);
}
.heading{
  text-align: center;
  font-size: 7rem;
  margin: 5rem 0;
}
.service{
  background-color: var(--bg-color);
  color: black;
}
.service h2{
  color: var(--text-color);
}
.service-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2.5rem;
}
.service-box{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  height: 600px;
  border-radius: 3rem;
  cursor: pointer;
  border: 5px solid transparent;
  transition: 0.4s ease-in-out;
}
.service-box:hover{
background: var(--second-bg-color);
color: var(--main-color);
border: 5px solid var(--main-color);
transform: scale(1.03)
}
.service-info{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5rem;
  align-items: center;
  justify-content: center;
}
.service-info h4{
  font-size: 4rem;
  margin: 2rem 0;
  font-weight: 800; 
}
.service-info p{
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7;
}
.contact{
  background-color: var(--bg-color);

}
.contact h2{
  margin-bottom: 3rem;
  color: var(--text-color);
}
.contact form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem ;
  margin: 5rem 0;
  text-align: center;
}
.contact form .input-box input,
.contact form textarea{
  width: 100%;
  padding: 2.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 0;
  resize: none;
}